.delivery-page header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../utils/images/delivery-header.jpeg);
  height: 150px;
}
.delivery-form {
  margin-top: 3%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 21.7%;
}